<?xml version="1.0" encoding="utf-8"?>
<!-- NHibernate Configuration -->
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2">
	
	<session-factory name="NHibernate.Validator.Demo">
		<property name="connection.connection_string">
			Data Source=localhost;Initial Catalog=nhibernate;Pooling=False;Persist Security Info=True;User ID=sa;Password=sa2014~
		</property>
		<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
		<property name="hbm2ddl.auto">create-drop</property>
		<mapping assembly="NHibernate.Validator.Demo.Model"/>
		
	</session-factory>
	
</hibernate-configuration>
